
#board, #enemyBoard {
    -fx-border-style: solid solid solid solid;
    -fx-border-width: 0 0 0 1;
    -fx-border-color: #000000;
}

#board Rectangle, #enemyBoard Rectangle {
    -fx-background-color: #ffffff;
    -fx-border-style: solid solid solid solid;
    -fx-border-width: 1 1 1 0;
    -fx-border-color: #000000;
    -fx-min-width: 30px;
    -fx-min-height: 20px;
}

#container {
    -fx-background-color: #ffff;
    -fx-padding: 20px;
    -fx-min-width: 500px;
    -fx-max-width: 500px;
    -fx-min-height: 600px;
    -fx-max-height: 600px;
}

#boardContainer {
    -fx-background-color: #ffff;
    -fx-padding: 20px;
    -fx-min-width: 650px;
    -fx-max-width: 650px;
    -fx-min-height: 600px;
    -fx-max-height: 600px;
}

#serverContainer {
    -fx-background-color: #eeeeee ;
    -fx-padding: 10px;
}